<a href="https://colab.research.google.com/github/GuilhermeEduardoGS/colab/blob/main/atividadeEntrega.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

In [3]:
install.packages("ggplot2")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [6]:
library(ggplot2)

loan=read.csv("/content/15b -loan_data_set.csv",na =" ")

In [9]:
View(loan)

    Loan_ID  Gender Married Dependents Education    Self_Employed
1   LP001002 Male   No      0          Graduate     No
2   LP001003 Male   Yes     1          Graduate     No
3   LP001005 Male   Yes     0          Graduate     Yes
4   LP001006 Male   Yes     0          Not Graduate No
5   LP001008 Male   No      0          Graduate     No
6   LP001011 Male   Yes     2          Graduate     Yes
7   LP001013 Male   Yes     0          Not Graduate No
8   LP001014 Male   Yes     3+         Graduate     No
9   LP001018 Male   Yes     2          Graduate     No
10  LP001020 Male   Yes     1          Graduate     No
11  LP001024 Male   Yes     2          Graduate     No
12  LP001027 Male   Yes     2          Graduate
13  LP001028 Male   Yes     2          Graduate     No
14  LP001029 Male   No      0          Graduate     No
15  LP001030 Male   Yes     2          Graduate     No
16  LP001032 Male   No      0          Graduate     No
17  LP001034 Male   No      1          Not Graduate No
18  LP001036 Female No      0          Graduate     No
19  LP001038 Male   Yes     0          Not Graduate No
20  LP001041 Male   Yes     0          Graduate
21  LP001043 Male   Yes     0          Not Graduate No
22  LP001046 Male   Yes     1          Graduate     No
23  LP001047 Male   Yes     0          Not Graduate No
24  LP001050        Yes     2          Not Graduate No
25  LP001052 Male   Yes     1          Graduate
26  LP001066 Male   Yes     0          Graduate     Yes
27  LP001068 Male   Yes     0          Graduate     No
28  LP001073 Male   Yes     2          Not Graduate No
29  LP001086 Male   No      0          Not Graduate No
30  LP001087 Female No      2          Graduate
⋮   ⋮        ⋮      ⋮       ⋮          ⋮            ⋮
585 LP002911 Male   Yes     1          Graduate     No
586 LP002912 Male   Yes     1          Graduate     No
587 LP002916 Male   Yes     0          Graduate     No
588 LP002917 Female No      0          Not Graduate No
589 LP002925        No      0          Graduate     No
590 LP002926 Male   Yes     2          Graduate     Yes
591 LP002928 Male   Yes     0          Graduate     No
592 LP002931 Male   Yes     2          Graduate     Yes
593 LP002933        No      3+         Graduate     Yes
594 LP002936 Male   Yes     0          Graduate     No
595 LP002938 Male   Yes     0          Graduate     Yes
596 LP002940 Male   No      0          Not Graduate No
597 LP002941 Male   Yes     2          Not Graduate Yes
598 LP002943 Male   No                 Graduate     No
599 LP002945 Male   Yes     0          Graduate     Yes
600 LP002948 Male   Yes     2          Graduate     No
601 LP002949 Female No      3+         Graduate
602 LP002950 Male   Yes     0          Not Graduate
603 LP002953 Male   Yes     3+         Graduate     No
604 LP002958 Male   No      0          Graduate     No
605 LP002959 Female Yes     1          Graduate     No
606 LP002960 Male   Yes     0          Not Graduate No
607 LP002961 Male   Yes     1          Graduate     No
608 LP002964 Male   Yes     2          Not Graduate No
609 LP002974 Male   Yes     0          Graduate     No
610 LP002978 Female No      0          Graduate     No
611 LP002979 Male   Yes     3+         Graduate     No
612 LP002983 Male   Yes     1          Graduate     No
613 LP002984 Male   Yes     2          Graduate     No
614 LP002990 Female No      0          Graduate     Yes
    ApplicantIncome CoapplicantIncome LoanAmount Loan_Amount_Term
1    5849               0              NA        360
2    4583            1508             128        360
3    3000               0              66        360
4    2583            2358             120        360
5    6000               0             141        360
6    5417            4196             267        360
7    2333            1516              95        360
8    3036            2504             158        360
9    4006            1526             168        360
10  12841           10968             349        360
11   3200             700              70        360
12   2500            1840             109        360
13   3073            8106             200        360
14   1853            2840             114        360
15   1299            1086              17        120
16   4950               0             125        360
17   3596               0             100        240
18   3510               0              76        360
19   4887               0             133        360
20   2600            3500             115         NA
21   7660               0             104        360
22   5955            5625             315        360
23   2600            1911             116        360
24   3365            1917             112        360
25   3717            2925             151        360
26   9560               0             191        360
27   2799            2253             122        360
28   4226            1040             110        360
29   1442               0              35        360
30   3750            2083             120        360
⋮   ⋮               ⋮                 ⋮          ⋮
585  2787            1917             146        360
586  4283            3000             172         84
587  2297            1522             104        360
588  2165               0              70        360
589  4750               0              94        360
590  2726               0             106        360
591  3000            3416              56        180
592  6000               0             205        240
593  9357               0             292        360
594  3859            3300             142        180
595 16120               0             260        360
596  3833               0             110        360
597  6383            1000             187        360
598  2987               0              88        360
599  9963               0             180        360
600  5780               0             192        360
601   416           41667             350        180
602  2894            2792             155        360
603  5703               0             128        360
604  3676            4301             172        360
605 12000               0             496        360
606  2400            3800              NA        180
607  3400            2500             173        360
608  3987            1411             157        360
609  3232            1950             108        360
610  2900               0              71        360
611  4106               0              40        180
612  8072             240             253        360
613  7583               0             187        360
614  4583               0             133        360
    Credit_History Property_Area Loan_Status
1    1             Urban         Y
2    1             Rural         N
3    1             Urban         Y
4    1             Urban         Y
5    1             Urban         Y
6    1             Urban         Y
7    1             Urban         Y
8    0             Semiurban     N
9    1             Urban         Y
10   1             Semiurban     N
11   1             Urban         Y
12   1             Urban         Y
13   1             Urban         Y
14   1             Rural         N
15   1             Urban         Y
16   1             Urban         Y
17  NA             Urban         Y
18   0             Urban         N
19   1             Rural         N
20   1             Urban         Y
21   0             Urban         N
22   1             Urban         Y
23   0             Semiurban     N
24   0             Rural         N
25  NA             Semiurban     N
26   1             Semiurban     Y
27   1             Semiurban     Y
28   1             Urban         Y
29   1             Urban         N
30   1             Semiurban     Y
⋮   ⋮              ⋮             ⋮
585  0             Rural         N
586  1             Rural         N
587  1             Urban         Y
588  1             Semiurban     Y
589  1             Semiurban     Y
590  0             Semiurban     N
591  1             Semiurban     Y
592  1             Semiurban     N
593  1             Semiurban     Y
594  1             Rural         Y
595  1             Urban         Y
596  1             Rural         Y
597  1             Rural         N
598  0             Semiurban     N
599  1             Rural         Y
600  1             Urban         Y
601 NA             Urban         N
602  1             Rural         Y
603  1             Urban         Y
604  1             Rural         Y
605  1             Semiurban     Y
606  1             Urban         N
607  1             Semiurban     Y
608  1             Rural         Y
609  1             Rural         Y
610  1             Rural         Y
611  1             Rural         Y
612  1             Urban         Y
613  1             Urban         Y
614  0             Semiurban     N

In [13]:
loanNA <- na.omit(loan)

In [14]:
sapply(loanNA, function(x) sum(is.na(x)))

          Loan_ID            Gender           Married        Dependents
                0                 0                 0                 0
        Education     Self_Employed   ApplicantIncome CoapplicantIncome
                0                 0                 0                 0
       LoanAmount  Loan_Amount_Term    Credit_History     Property_Area
                0                 0                 0                 0
      Loan_Status
                0

In [28]:
cor(loanNA$ApplicantIncome, loanNA$CoapplicantIncome)
cor(loanNA$ApplicantIncome, loanNA$Credit_History)
cor(loanNA$CoapplicantIncome, loanNA$Credit_History)
cor(loanNA$CoapplicantIncome, loanNA$ApplicantIncome)
cor(loanNA$Credit_History, loanNA$CoapplicantIncome)
cor(loanNA$Credit_History, loanNA$ApplicantIncome)

[1] -0.1226306

[1] -0.0237786

[1] -0.01084714

[1] -0.1226306

[1] -0.01084714

[1] -0.0237786